In [1]:
import numpy as np
import pandas as pd

In [2]:
air = pd.read_csv('data/india_air_quality.csv')

/home/hanzhi/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
water = pd.read_csv('data/IndiaAffectedWaterQualityAreas.csv')

In [14]:
air['year'] = air['date'].str[:4]

In [22]:
air[['state','year','so2','no2','rspm','spm','pm2_5']]

                              state  year   so2   no2   rspm  spm  pm2_5
0                    Andhra Pradesh  1990   4.8  17.4    NaN  NaN    NaN
1                    Andhra Pradesh  1990   3.1   7.0    NaN  NaN    NaN
2                    Andhra Pradesh  1990   6.2  28.5    NaN  NaN    NaN
3                    Andhra Pradesh  1990   6.3  14.7    NaN  NaN    NaN
4                    Andhra Pradesh  1990   4.7   7.5    NaN  NaN    NaN
...                             ...   ...   ...   ...    ...  ...    ...
435737                  West Bengal  2015  22.0  50.0  143.0  NaN    NaN
435738                  West Bengal  2015  20.0  46.0  171.0  NaN    NaN
435739  andaman-and-nicobar-islands   NaN   NaN   NaN    NaN  NaN    NaN
435740                  Lakshadweep   NaN   NaN   NaN    NaN  NaN    NaN
435741                      Tripura   NaN   NaN   NaN    NaN  NaN    NaN

[435742 rows x 7 columns]

In [33]:
air.head(1)['spm']

0   NaN
Name: spm, dtype: float64

In [28]:
air[air.spm != np.nan]

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date,year
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01,1990
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01,1990
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01,1990
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01,1990
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435737,SAMP,24-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,143.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-24,2015
435738,SAMP,29-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,46.0,171.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-29,2015
435739,NaN,NaN,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435740,NaN,NaN,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435741,NaN,NaN,Tripura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
air.tail()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date,year
435737,SAMP,24-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,143.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-24,2015
435738,SAMP,29-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,46.0,171.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-29,2015
435739,NaN,NaN,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435740,NaN,NaN,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435741,NaN,NaN,Tripura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
air.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date,year
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01,1990
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01,1990
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01,1990
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01,1990
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01,1990

In [113]:
water.head(20)

,State Name,District,Block,Panchayat,Village,Habitation,Contaminants,Year
0,andhra pradesh,EAST GODAVARI(04),PRATHIPADU(10),GOKAVARAM(04),VANTHADA(014 ),VANTHADA(0404410014010400),Salinity,1/4/2009
1,andhra pradesh,EAST GODAVARI(04),PRATHIPADU(10),GOKAVARAM(04),PANDAVULAPALEM(022 ),PANDAVULAPALEM(0404410022010400),Fluoride,1/4/2009
2,andhra pradesh,EAST GODAVARI(04),PRATHIPADU(10),GAJJANAPUDI(06),G. KOTHURU(023 ),G. KOTHURU(0404410023010600),Salinity,1/4/2009
3,andhra pradesh,EAST GODAVARI(04),PRATHIPADU(10),GAJJANAPUDI(06),GAJJANAPUDI(029 ),GAJJANAPUDI(0404410029010600),Salinity,1/4/2009
4,andhra pradesh,EAST GODAVARI(04),PRATHIPADU(10),CHINTALURU(10),CHINTALURU(028 ),CHINTALURU(0404410028011000),Salinity,1/4/2009
5,andhra pradesh,EAST GODAVARI(04),PRATHIPADU(10),ELURU(16),P. JAGANNADHAPURAM(035 ),P. JAGANNADHAPURAM(0404410035011600),Fluoride,1/4/2009
6,andhra pradesh,EAST GODAVARI(04),RAMPACHODAVARAM(13),MANIWADA(08),REDAKONDA(020 ),REDAKONDA(0403813020010800),Salinity,1/4/2009
7,andhra pradesh,EAST GODAVARI(04),DEVIPATNAM(14),CHOPPAKONDA(08),NEREDUVALASA(028 ),NEREDUVALASA(0403814028010800),Fluoride,1/4/2009
8,andhra pradesh,EAST GODAVARI(04),KADIAM(31),KADIAPUSAVARAM(03),KADIAM(002 ),KADIYAPU SAVARAM(0404131002010300),Salinity,1/4/2009
9,andhra pradesh,EAST GODAVARI(04),KADIAM(31),KADIAPULANKA(04),KADIAM(002 ),KADIAPULANKA(0404131002010400),Salinity,1/4/2009
10,andhra pradesh,EAST GODAVARI(04),KADIAM(31),DHAMIREDDY PALLE(07),DHAMIREDDY PALLE(004 ),DHAMIREDDY PALLE(0404131004010700),Salinity,1/4/2009
11,andhra pradesh,EAST GODAVARI(04),KADIAM(31),VEERAVARAM(08),VEERAVARAM(005 ),VEERAVARAM(0404131005010800),Salinity,1/4/2009
12,andhra pradesh,EAST GODAVARI(04),KADIAM(31),MURAMUNDA(10),MURAMUNDA(006 ),MURAMUNDA(0404131006011000),Salinity,1/4/2009
13,andhra pradesh,EAST GODAVARI(04),RAMACHANDRAPURAM(39),ODURU(05),ODURU(005 ),JUVVIPADU(0405139005020500),Salinity,1/4/2009
14,andhra pradesh,WEST GODAVARI(05),ACHANTA(41),KANDARAVALLI(06),KANDARAVALLI(005 ),KANDARAVALLI(0506141005010600),Salinity,1/4/2009
15,andhra pradesh,WEST GODAVARI(05),BUTTAIGUDEM(02),BUTTAIGUDEM(10),BUTTAIGUDEM(025 ),VEERANNAPALEM(0507302025071000),Salinity,1/4/2009
16,andhra pradesh,WEST GODAVARI(05),CHINTALAPUDI(09),VENKATADRIGUDEM(08),VENKATDRI GUDEM(017 ),GOLLAGUDEM(0507409017020800),Salinity,1/4/2009
17,andhra pradesh,WEST GODAVARI(05),J.R.GUDEM(07),A.POLAVARAM(07),A.POLAVARAM(009 ),CHINNAVARIGUDEM(0507307009020700),Salinity,1/4/2009
18,andhra pradesh,WEST GODAVARI(05),IRAGAVARAM(31),ARJUNUDUPALEM(10),IRAGAVARAM(010 ),ARJUNUDUPALEM(0506431010091000),Salinity,1/4/2009
19,andhra pradesh,WEST GODAVARI(05),ELAMANCHILI(44),ELAMANCHILI(26),ELAMANCHILI(012 ),KALAVAVODDU KAPULAPALEM(0505944012162600),Salinity,1/4/2009

In [101]:
water.rename(columns = {'District Name': 'District', 'Block Name':'Block', 'Panchayat Name':'Panchayat',
       'Village Name':'Village', 'Habitation Name':'Habitation','Quality Parameter':'Contaminants'}, inplace = True)

In [108]:
water['State Name'] = water['State Name'].str.lower()

In [109]:
water.groupby('State Name').count()

,District,Block,Panchayat,Village,Habitation,Contaminants,Year
State Name,,,,,,,
andhra pradesh,2888,2888,2888,2888,2888,2888,2888
arunachal pradesh,612,612,612,612,612,612,612
assam,79910,79910,79910,79910,79910,79910,79910
bihar,92336,92336,92336,92336,92336,92336,92336
chattisgarh,25062,25062,25062,25062,25062,25062,25062
chhattisgarh,8815,8815,8815,8815,8815,8815,8815
gujarat,2092,2092,2092,2092,2092,2092,2092
haryana,262,262,262,262,262,262,262
himachal pradesh,88,88,88,88,88,88,88
jammu and kashmir,67,67,67,67,67,67,67
jharkhand,3913,3913,3913,3913,3913,3913,3913
karnataka,30824,30824,30824,30824,30824,30824,30824
kerala,4800,4800,4800,4800,4800,4800,4800
madhya pradesh,14449,14449,14449,14449,14449,14449,14449
maharashtra,12480,12480,12480,12480,12480,12480,12480
manipur,14,14,14,14,14,14,14
meghalaya,427,427,427,427,427,427,427
nagaland,618,618,618,618,618,618,618
orissa,68620,68620,68620,68620,68620,68620,68620
puducherry,17,17,17,17,17,17,17
punjab,1056,1056,1056,1056,1056,1056,1056
rajasthan,131417,131417,131417,131417,131417,131417,131417
tamil nadu,3164,3164,3164,3164,3164,3164,3164
tripura,26235,26235,26235,26235,26235,26235,26235
uttar pradesh,9918,9918,9918,9918,9918,9918,9918
uttarakhand,57,57,57,57,57,57,57
west bengal,30101,30101,30101,30101,30101,30101,30101

In [75]:
state_water_contam = water.groupby(['State Name','Quality Parameter'])['Year'].count()

In [87]:
state_water_contam = pd.DataFrame(data = state_water_contam.values, index = state_water_contam.index, columns = ['contaminants'])

KeyError: 'ANDHRA PRADESH'